<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ current_event_type.name }} :: QueEvent</title>
</head>
<body>
<h1>События</h1>
<h2>Тип события: {{ current_event_type.name }}</h2>
<div>
    <a href="/events">Главная</a>
    {% for event_type in event_types %}
        <a href="events/{{ event_type.pk }}/">{{ event_type.name }}</a>
    {% endfor %}
</div>
{% for event in events %}
    <div>
        <h2>{{ event.title }}</h2>
        <p>{{ event.content }}</p>
        <p>{{ event.published|date:"d.m.Y H:i:s" }}</p>
    </div>
{% endfor %}
</body>
</html>